* { color: white; }
@font-face {
    font-family: 'Lifecraft';
    src: url(../../fonts/LifeCraft_Font.ttf) format('truetype');
}
a{
    margin-left: 0px;
}
.btn { 
    margin-left: 44%;
 align-items: center;
}
.circulo {
    width: 10rem!important;
    height: 10rem;
    border-radius: 50%; 
    background-color: rgb(255, 255, 255);
    margin-top: 10rem;
  }
  

.row-header{
    height: 60px;
    border-bottom: 3px rgb(255, 255, 255) solid;
}

.row-main{
    height: calc(100vh - 120px);
    background-image: url("../../images/background/wallpaper-mestre-ajustado.png");
    background-size:cover;
    background-position: bottom;
   
}

.row-footer{
    border-top: 3px black solid;
    height: 60px;
    background-image: url("../../images/footer/background-texture-footer.jpg");
    background-size: cover;
}

.texto-nome{
font-family: inherit;
font-size: 20px;
color:#fff;
}



:is(.row-header,.row-main,.row-footer){
    padding-left: 8vw;
    padding-right: 8vw;
}

.box-opcoes{
    height: 40%;
}

@media (max-width: 980px){
    :is(.row-header,.row-main,.row-footer){
        padding-left: 4vw;
        padding-right: 4vw;
    }
    :is(.box-opcoes){
        width: 60% !important;  
    }
}
@media (max-width: 650px){
    
    :is(.box-opcoes){
        width: 80% !important;
    }
}